name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  verify:
    runs-on: '${{ matrix.runs_on }}'
    strategy:
      matrix:
        include:
          - os: linux
            runs_on: ubuntu-latest
            suffix: ''
          - os: windows
            runs_on: windows-latest
            suffix: .exe
          - os: macos
            runs_on: macos-latest
            suffix: ''

    steps:
    - uses: actions/checkout@v6

    - name: Install cargo-get
      uses: baptiste0928/cargo-install@v3
      with:
        crate: cargo-get

    - name: Install Shells (linux only)
      if: ${{ matrix.os=='linux' }}
      run: |
        sudo apt-get install -y -qq ksh zsh yash
        sudo apt-get install -y mksh || true

    - name: Install Shells & Shellcheck (macos only)
      if: ${{ matrix.os=='macos' }}
      run: brew install bash ksh93 shellcheck

    - name: Install Shellcheck (windows only)
      if: ${{ matrix.os=='windows' }}
      run: choco install shellcheck

    - name: Run make check
      run: make check

